# Node
node_modules/
.next/
pnpm-lock.yaml
yarn.lock
package-lock.json

# Rust
target/
Cargo.lock

# Pulumi
infra/pulumi/bin/
.pulumi/

# Env
.env
.env.*
!.env.example
!.env.local.example

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


/.turbo
/apps/desktop/.turbo
