NEXT_PUBLIC_API_BASE_URL=http://localhost:8787
DATABASE_URL=postgresql://user:password@localhost:5432/vpnvpn?schema=public
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=changeme

# OAuth (optional)
GITHUB_ID=
GITHUB_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Email (Magic Link)
EMAIL_SERVER=smtp://username:password@smtp.example.com:587
EMAIL_FROM=noreply@example.com

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_ID=
